.DS_Store
.idea/
*.~undo-tree~


/pippinVR-Server/.swiftpm/
/pippinVR-Server/.build/
/pippinVR-Server/PippinVR.app/
/pippinVR-Server/dist/

/gradle/
.gradle/
/pippinVR-client/build/
/pippinVR-client/app/build/
/pippinVR-client/app/.cxx/
/pippinVR-client/local.properties
/pippinVR-client/release.keystore


*.p12
*.cer
*.certSigningRequest
*.mobileprovision
AuthKey_*.p8
