BasedOnStyle: Google

Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
NamespaceIndentation: None

ColumnLimit: 100

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

BinPackArguments: true

PointerAlignment: Left
DerivePointerAlignment: false

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false

IncludeBlocks: Regroup
IncludeCategories:
  # Main header (if any)
  - Regex: '^".*\.h"$'
    Priority: 1
  - Regex: "^<openxr/"
    Priority: 2
  - Regex: "^<android/"
    Priority: 3
  # System C headers
  - Regex: '^<(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|threads|time|uchar|wchar|wctype)\.h>$'
    Priority: 4
  # System C++ headers
  - Regex: "^<"
    Priority: 5

CommentPragmas: "^ NOLINT"

PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
